<!-- Barra de ferramentas -->
<mat-toolbar color="primary">
  <button class="menu" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon> menu </mat-icon>
  </button>
  <span>E-commerce</span>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/pages/produto/listar">
        <div class="item">
          <mat-icon class="icon"> list </mat-icon>
          <span> Listar Produtos </span>
        </div>
      </a>
      <a mat-list-item routerLink="/pages/produto/cadastrar">
        <div class="item">
          <mat-icon class="icon"> add </mat-icon>
          <span> Cadastrar Produto </span>
        </div>
      </a>
    </mat-nav-list>
    <!-- <a routerLink="/pages/produto/cadastrar"> Cadastrar </a> -->
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <!-- Conteúdo -->
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
